{
  "story":{
    "title": "{{ title }}",
    "date": "{{ date | date('m-d-Y') }}",
    "contents": "{{ contents | json_encode }}",
    "title_alliances": "{{ title_alliances }}",
    "content_lead_alliances": "{{ content_lead_alliances }}",
    "content_outro_alliances": "{{ content_outro_alliances }}",
    "image_url_alliances": "{{ image_url_alliances }}",
    "image_link_url_alliances": "{{ image_link_url_alliances }}",
    "title_exploration": "{{ title_exploration }}",
    "content_lead_exploration": "{{ content_lead_exploration }}",
    "image_url_exploration": "{{ image_url_exploration }}",
    "image_link_exploration": "{{ image_link_exploration }}",
    "image_caption_exploration": "{{ image_caption_exploration }}",
    "image_url_2_exploration": "{{ image_url_2_exploration }}",
    "image_link_2_exploration": "{{ image_link_2_exploration }}",
    "image_caption_2_exploration": "{{ image_caption_2_exploration }}",
    "image_url_3_exploration": "{{ image_url_3_exploration }}",
    "image_link_3_exploration": "{{ image_link_3_exploration }}",
    "image_caption_3_exploration":"{{ image_caption_3_exploration }}"
  }
}